@inherits LayoutComponentBase

<AppErrorBoundary @ref="ErrorBoundary">
    <ChildContent>
        <div id="app">
            @Body
        </div>
    </ChildContent>
    <ErrorContent >
        <ErrorBoundaryAlert Reset="ResetErrorBoundary" />
    </ErrorContent>
</AppErrorBoundary>

@code {
    ErrorBoundary? ErrorBoundary;

    /// <summary>
    /// Resetea el ErrorBoundary para intentar renderizar nuevamente el contenido.
    /// </summary>
    private void ResetErrorBoundary() => ErrorBoundary?.Recover();
}
