@inherits LayoutComponentBase

<ErrorBoundary Context="ex" @ref="ErrorBoundary">
    <ChildContent>
        <div id="app">
            @Body
        </div>
    </ChildContent>
    <ErrorContent >
        <ErrorBoundaryAlert ErrorBoundary="ErrorBoundary"></ErrorBoundaryAlert>
    </ErrorContent>
</ErrorBoundary>

@code {
    ErrorBoundary ErrorBoundary;
}
