@page "/Accounts"
<h1>Cuentas</h1>

<div class="table">
    <div class="row header">
        <span>Nombre</span>
        <span>Tipo</span>
        <span>Saldo</span>
    </div>

    <div class="row">
        <span>Banco Cuscatlán</span>
        <span>Débito</span>
        <span>$1,200</span>
    </div>

    <div class="row">
        <span>Efectivo</span>
        <span>Cash</span>
        <span>$300</span>
    </div>
</div>
