@page "/Transactions"
<h1 class="page-title">Movimientos</h1>

<div class="transactions">

    <div class="transaction expense">
        <div class="left">
            <span class="title">Supermercado</span>
            <span class="category">Alimentación</span>
        </div>
        <strong class="amount">- $120</strong>
    </div>

    <div class="transaction income">
        <div class="left">
            <span class="title">Salario</span>
            <span class="category">Ingreso</span>
        </div>
        <strong class="amount">+ $1,500</strong>
    </div>

</div>

